In [10]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
import requests
from bs4 import BeautifulSoup

In [50]:
def url_gen(url):
    
    URL = url
    page = requests.get(URL)
    #returning soup object based on the url
    soup = BeautifulSoup(page.content, "html.parser")
    return soup

In [52]:
soup=url_gen("https://realpython.github.io/fake-jobs/")

In [28]:
#next step is to generalize the functions to work with indeed & other websites
ID="ResultsContainer"

In [32]:
def result_retriever(ID,soup):

    results= soup.find(ID)
    python_jobs = results.find_all(
        "h2", string=lambda text: "python" in text.lower()
    )
    python_job_elements = [
        h2_element.parent.parent.parent for h2_element in python_jobs
    ]

In [43]:
def job_details_extract(python_job_elements)
title_list=[]
location_list=[]
company_list=[]

for job_element in python_job_elements:
    title_element = job_element.find("h2", class_="title")
    company_element = job_element.find("h3", class_="company")
    location_element = job_element.find("p", class_="location")
    title_list.append(title_element.text.strip())
    location_list.append(location_element.text.strip())
    company_list.append(company_element.text.strip())
    
    print(title_element.text.strip())
    print(company_element.text.strip())
    print(location_element.text.strip())
    #export to csv add new row for job details 
print(len(python_job_elements))

Senior Python Developer
Payne, Roberts and Davis
Stewartbury, AA
Software Engineer (Python)
Garcia PLC
Ericberg, AE
Python Programmer (Entry-Level)
Moss, Duncan and Allen
Port Sara, AE
Python Programmer (Entry-Level)
Cooper and Sons
West Victor, AE
Software Developer (Python)
Adams-Brewer
Brockburgh, AE
Python Developer
Rivera and Sons
East Michaelfort, AA
Back-End Web Developer (Python, Django)
Stewart-Alexander
South Kimberly, AA
Back-End Web Developer (Python, Django)
Jackson, Ali and Mckee
New Elizabethside, AA
Python Programmer (Entry-Level)
Mathews Inc
Robertborough, AP
Software Developer (Python)
Moreno-Rodriguez
Martinezburgh, AE
10

In [45]:
print(location_list)
print(title_list)
print(company_list)

['Stewartbury, AA', 'Ericberg, AE', 'Port Sara, AE', 'West Victor, AE', 'Brockburgh, AE', 'East Michaelfort, AA', 'South Kimberly, AA', 'New Elizabethside, AA', 'Robertborough, AP', 'Martinezburgh, AE']
['Senior Python Developer', 'Software Engineer (Python)', 'Python Programmer (Entry-Level)', 'Python Programmer (Entry-Level)', 'Software Developer (Python)', 'Python Developer', 'Back-End Web Developer (Python, Django)', 'Back-End Web Developer (Python, Django)', 'Python Programmer (Entry-Level)', 'Software Developer (Python)']
['Payne, Roberts and Davis', 'Garcia PLC', 'Moss, Duncan and Allen', 'Cooper and Sons', 'Adams-Brewer', 'Rivera and Sons', 'Stewart-Alexander', 'Jackson, Ali and Mckee', 'Mathews Inc', 'Moreno-Rodriguez']

In [47]:

df=pd.DataFrame({'title': title_list,'location':location_list,'company':company_list})
df.head()

                             title         location                   company
0          Senior Python Developer  Stewartbury, AA  Payne, Roberts and Davis
1       Software Engineer (Python)     Ericberg, AE                Garcia PLC
2  Python Programmer (Entry-Level)    Port Sara, AE    Moss, Duncan and Allen
3  Python Programmer (Entry-Level)  West Victor, AE           Cooper and Sons
4      Software Developer (Python)   Brockburgh, AE              Adams-Brewer

# Checking for missing/wrong values

In [53]:
#create functions for job element generation & exporting to csv
#repeat for Indeed.com
#look for returnships & apply to the intel one

# Exporting to CSV

In [16]:
#function to get all application links 
def get_application_url():
    
    for job_element in python_job_elements:
    # -- snip --
        link_url = job_element.find_all("a")[1]['href']
    
    print(f"Apply here: {link_url}\n")