In [3]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
class PreProcessing():
    def __init__(self, df : pd.DataFrame = pd.DataFrame) :
        self.df = df
        
    
    def Information (self , df) :
        self.df = df
        df.replace('?' , np.nan , inplace = True )
        nulls = (df.shape[0] - df.dropna(axis = 0).shape[0])
        nulls_per = (df.shape[0] - df.dropna(axis = 0).shape[0])*100 / df.shape[0]
        dup , dup_per = df.duplicated().sum() , (df.duplicated().sum()*100) / df.shape[0]
        numerical_columns = list((df.select_dtypes(include=np.number)).columns)
        categorical_columns = list(df.select_dtypes(include = ['object']).columns)
        numerical_col_dict = {}
        for col in numerical_columns :
            if df[col].nunique() > 10 :
                numerical_col_dict[col] = 'Continuous' 

            else :
                numerical_col_dict[col] = 'Discrete'
        categorical_col_dict = {}
        for col in categorical_columns :
            if df[col].nunique() > 10 :
                categorical_col_dict[col] = 'Continuous' 

            else :
                categorical_col_dict[col] = 'Classes'
        x = []
        for col in df.columns : 
            x.append([col , df[col].unique() ,df[col].nunique(),df[col].dtype,df[col].isna().sum(),int((df[col].isna().sum())/df.shape[0] * 100)  ])

        x = pd.DataFrame(x ,columns=['Feature','Unique_Values','No.OfUniqueValues','DataType','NoOfNulls','Nulls %'])
        
        print('\n','There is : {}  Nulls, Representing {} % of The Data'.format(nulls , '%.2f'%nulls_per ))
        print('\n','There is : {}  Duplicated, Representing {} % of The Data'.format(dup , '%.2f'%dup_per))
        print('\n','Numerical Columns : {}'.format(numerical_col_dict))
        print('\n','Categorical Columns : {}'.format(categorical_col_dict))
        
        return x
    
    def ImputeNulls(self , df , col_method : dict = {} ,col_value = {} ,type_method : dict = {} ) :
        self.df = df
        self.col_method = col_method
        self.type_method = type_method
        self.col_value = col_value
        df_copy = df.copy(deep = True)
        if len(col_method) == 0 & len(type_method) == 0  : 
            numerical_columns = list((df_copy.select_dtypes(include=np.number)).columns)
            categorical_columns = list(df_copy.select_dtypes(include = ['object']).columns)

            for col in numerical_columns :
                df_copy[col] = df_copy[col].interpolate()
                
            df_copy[categorical_columns] = df_copy[categorical_columns].apply(lambda x:x.fillna(x.value_counts().index[0]))
    
                
        if len(col_method) != 0 :
            for col in col_method.keys() :
                df_copy[col] = df_copy[col].fillna(method = col_method[col])
        
        if len(col_value) != 0 :
            for col in col_value.keys() :
                df_copy[col] = df_copy[col].fillna(value = col_value[col])
        
        if len(type_method) != 0 :
            numerical_columns = list((df_copy.select_dtypes(include=np.number)).columns)
            categorical_columns = list(df_copy.select_dtypes(include = ['object']).columns)
            for col in numerical_columns :
                df_copy[col] = df_copy[col].fillna(method = type_method['int'])
                
            for col in categorical_columns :
                df_copy[col] = df_copy[col].fillna(method = type_method['object'])
                
        return df_copy
    
    
    def Oultiers(self , df , display = False , drop = False , drop_order = 1 ,columns_to_display = [], columns_to_drop = []) :
        self.df = df
        self.display = display
        self.drop = drop
        self.drop_order = drop_order
        self.columns_to_display = columns_to_display
        self.columns_to_drop = columns_to_drop
        df_copy = df.copy(deep = True)
        numerical_columns = list((df_copy.select_dtypes(include=np.number)).columns)


        if display == True :
            if (len(columns_to_display) != 0) :
                numerical_columns = columns_to_display
            from math import ceil
            x = ceil(len(numerical_columns)/2)
            if len(numerical_columns) >= 24 :
                fig = plt.figure(figsize=(128,96))
            else : 
                fig = plt.figure(figsize=(24, 12))

            sns.set_theme(style="whitegrid", palette="pastel")
            plt.subplots_adjust(hspace=0.5)
            subfigs = fig.subfigures(len(numerical_columns), 1)
            for idx , i in enumerate(numerical_columns) :
                (ax1, ax2) = subfigs[idx].subplots(1, 2)
                sns.boxplot(x = df_copy[i] ,data = df_copy , ax = ax1 )
                sns.histplot(x = df_copy[i], kde=True , ax = ax2 )
                subfigs[idx].subplots_adjust(bottom=0.5, right=0.8, top=0.75)
                ax1.set_title(i)
                ax2.set_title(i)

        if drop == True :
            if (len(columns_to_drop) != 0) :
                numerical_columns = columns_to_drop
            elif drop_order < 1 :
                drop_order = 1

            import scipy.stats as stats

            while drop_order != 0 :
                for col in  numerical_columns :
                    p_value = stats.normaltest(df_copy[col])
                    if p_value[1] >= .05 :                                      ## col is normally distributed
                        filt = (df_copy[col]-df_copy[col].mean())/df_copy[col].std()
                        indexes = (filt[filt > 3]).index
                        df_copy.drop(indexes , inplace = True )
                        df_copy.reset_index(drop=True , inplace=True)

                    else :                                                     ## col is Skewed 

                        q1 = df_copy[col].quantile(0.25)
                        q3 = df_copy[col].quantile(0.75)
                        iqr = q3 - q1
                        lower = q1 - 1.5*iqr
                        if lower < 0 :
                            lower = 0
                        higher = q3 + 1.5*iqr
                        df_copy = df_copy [df_copy[col] >= lower] 
                        df_copy = df_copy [df_copy[col] <= higher ]
                        df_copy.reset_index(drop=True , inplace=True)

                drop_order = drop_order - 1
                
        return df_copy

       
        
    def Encode_Categorical(self , df , col_method={} ,one_hot = False , labeling = False ,defult = False ) :
        self.df = df 
        self.one_hot = one_hot
        self.labeling = labeling
        self.col_method = col_method
        df_copy = df.copy(deep = True)
        from sklearn import preprocessing
        
        if len(col_method) != 0 :
            label_cols = []
            one_hot_cols = []
            
            for col in col_method.keys() :
                if 'label' in col_method[col] :
                    label_cols.append(col)
                else :
                    one_hot_cols.append(col)
            if len(label_cols) !=0 :
                label_encoder = preprocessing.LabelEncoder()
                for col in label_cols :
                    df_copy[col]= label_encoder.fit_transform(df_copy[col])
            if len(one_hot_cols) !=0 :
                dummies = pd.get_dummies(one_hot_cols , drop_first=True)
                df_copy.drop(one_hot_cols,axis=1,inplace=True)
                df_copy = df_copy.join(dummies)

        
        elif defult == True :
            categorical_columns = list(df_copy.select_dtypes(include = ['object']).columns)
            one_hot_encoding = []
            label_encoder = preprocessing.LabelEncoder()
            for col in categorical_columns :
                if df_copy[col].nunique() < 20 :
                    one_hot_encoding.append(col)
                    
                else :
                    df_copy[col]= label_encoder.fit_transform(df_copy[col])
                    
            df_copy = pd.get_dummies(df_copy , drop_first=True)
                    
                
                    
        
        elif one_hot == True :
            df_copy = pd.get_dummies(df_copy , drop_first=True)
            
        elif labeling == True :
            from sklearn import preprocessing
            label_encoder = preprocessing.LabelEncoder()
            for col in df_copy.columns :
                df_copy[col]= label_encoder.fit_transform(df_copy[col])
                
                
        return df_copy

In [5]:
pre=PreProcessing()

In [7]:
df=pd.read_csv('application_record.csv')
df.info()

FileNotFoundError: [Errno 2] No such file or directory: 'application_record.csv'

In [ ]:
df_copy=df.copy(deep=True)
df_copy.head()

In [ ]:
pre.Information(df)

In [ ]:
df.drop(['FLAG_MOBIL'],axis=1,inplace=True)
df.head()

In [ ]:
sns.boxenplot(x=df['AMT_INCOME_TOTAL'],y=df['NAME_INCOME_TYPE'])

In [ ]:

sns.lineplot(x=df_copy['NAME_INCOME_TYPE'], y=df_copy['AMT_INCOME_TOTAL'],data=df_copy,hue=df_copy['NAME_EDUCATION_TYPE'])

In [ ]:
df_copy['NAME_EDUCATION_TYPE'].unique()

In [ ]:
df['NAME_EDUCATION_TYPE'].unique()

In [ ]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

df['NAME_EDUCATION_TYPE']= label_encoder.fit_transform(df['NAME_EDUCATION_TYPE'])
df['NAME_EDUCATION_TYPE'].head()

In [ ]:
df['NAME_EDUCATION_TYPE'].unique()

In [ ]:
df.sort_values(['AMT_INCOME_TOTAL','NAME_EDUCATION_TYPE'])

In [ ]:
df_copy.groupby(["NAME_EDUCATION_TYPE"])["AMT_INCOME_TOTAL"].describe()

In [ ]:
df.groupby(["NAME_FAMILY_STATUS"])["AMT_INCOME_TOTAL"].describe()

In [ ]:
df['NAME_EDUCATION_TYPE'].value_counts()

In [ ]:
#here we noticed the correlation between education type & income

In [ ]:
encode_cat={'NAME_EDUCATION_TYPE': {'Higher education':4, 'Secondary / secondary special':1,
       'Incomplete higher':3, 'Lower secondary':2, 'Academic degree':5}, 
            'NAME_HOUSING_TYPE': {'Rented apartment':4, 'House / apartment':6, 'Municipal apartment':3,
       'With parents':1, 'Co-op apartment':2, 'Office apartment':5},
            'NAME_FAMILY_STATUS':{ 'Civil marriage':4, 'Married':5, 'Single / not married':3, 'Separated':2,
       'Widow':1 },
        'CODE_GENDER':{'M':1, 'F':0},
           'FLAG_OWN_CAR':{'Y':1,'N':0},
           'FLAG_OWN_REALTY':{'Y':1,'N':0},}

In [ ]:
df.replace(encode_cat,inplace=True)
pre.Information(df)

In [ ]:
df.replace(df.NAME_EDUCATION_TYPE, encode_cat)
df['NAME_EDUCATION_TYPE'].head(10)

In [ ]:
df['NAME_FAMILY_STATUS'].unique()

In [ ]:
df_copy[df_copy['AMT_INCOME_TOTAL']>4000000]

In [ ]:
19341/365

In [ ]:
#import pandas_profiling as pp

In [9]:
credit=pd.read_csv('credit_record.csv')
credit.head()

        ID  MONTHS_BALANCE STATUS
0  5001711               0      X
1  5001711              -1      0
2  5001711              -2      0
3  5001711              -3      0
4  5001712               0      C

In [10]:
credit[credit['ID']==5001711]

        ID  MONTHS_BALANCE STATUS
0  5001711               0      X
1  5001711              -1      0
2  5001711              -2      0
3  5001711              -3      0

# Multiple methods for encoding months_balance column

In [11]:
#Method 1

In [12]:
#Method 2 
credit_sum=pd.DataFrame(credit.groupby(["ID"])["MONTHS_BALANCE"].sum())

credit_sum

         MONTHS_BALANCE
ID
5001711              -6
5001712            -171
5001713            -231
5001714            -105
5001715           -1770
...                 ...
5150482            -351
5150483            -153
5150484             -78
5150485              -1
5150487            -435

[45985 rows x 1 columns]

In [13]:
credit.reset_index(names='ID',inplace=True,drop=True)
credit.head()

TypeError: reset_index() got an unexpected keyword argument 'names'

In [14]:
#make new column total status encoded
#credit['sum_status']=pd.DataFrame(credit.groupby(["ID"])[""].sum())
credit_encode={'STATUS':{'0':1,'1':2,'2':3,'3':4,'4':5,'5':6,'X':0,'C':0}}
#for i,j in range(credit):
    #if credit[credit['ID']]=='0':
credit.replace(credit_encode,inplace=True)    
#0: 1-29 days past due 1: 30-59 days past due 2: 60-89 days overdue 3: 90-119 days overdue 4: 120-149 days overdue 5: Overdue or bad debts, write-offs for more than 150 days C: paid off that month X: No loan for the month

In [15]:
credit['STATUS'].unique()

array([0, 1, 2, 3, 4, 5, 6], dtype=int64)

In [16]:
index = pd.MultiIndex.from_tuples([('bird', 'falcon'),
                                   ('bird', 'parrot'),
                                   ('mammal', 'lion'),
                                   ('mammal', 'monkey')],
                                  names=['class', 'name'])
columns = pd.MultiIndex.from_tuples([('speed', 'max'),
                                     ('species', 'type')])
df = pd.DataFrame([(389.0, 'fly'),
                   (24.0, 'fly'),
                   (80.5, 'run'),
                   (np.nan, 'jump')],
                  index=index,
                  columns=columns)
df

               speed species
                 max    type
class  name
bird   falcon  389.0     fly
       parrot   24.0     fly
mammal lion     80.5     run
       monkey    NaN    jump